apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodejs-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodejs-app
  template:
    metadata:
      labels:
        app: nodejs-app
    spec:
      tolerations:
        - key: workload
          operator: Equal
          value: worker
          effect: NoSchedule
      initContainers:
        - name: init-db
          image: mysql:8.0
          command:
            - sh
            - -c
            - |
              echo "Waiting for MySQL to be ready..."
              until mysqladmin ping -h "$MYSQL_HOST" -u root -p"$MYSQL_ROOT_PASSWORD" --silent; do
                sleep 2
              done
              echo "MySQL is up. Setting up ivolve DB and appuser..."

              mysql -h "$MYSQL_HOST" -u root -p"$MYSQL_ROOT_PASSWORD" <<EOF
              CREATE DATABASE IF NOT EXISTS ivolve;
              CREATE USER IF NOT EXISTS 'appuser'@'%' IDENTIFIED BY 'apppassword';
              GRANT ALL PRIVILEGES ON ivolve.* TO 'appuser'@'%';
              FLUSH PRIVILEGES;
              EOF

              echo "Database setup complete."
          env:
            - name: MYSQL_HOST
              value: mysql-service
            - name: MYSQL_ROOT_PASSWORD
              value: rootpassword
      containers:
        - name: nodejs-container
          image: ziadtd/nodejs-mysql-app:latest
          ports:
            - containerPort: 3000
          env:
            - name: DB_HOST
              value: mysql-service
            - name: DB_USER
              value: appuser
            - name: DB_PASSWORD
              value: apppassword
            - name: DB_NAME
              value: ivolve
          volumeMounts:
            - name: logs
              mountPath: /app/logs
          readinessProbe:
            httpGet:
              path: /ready
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10
      volumes:
        - name: logs
          emptyDir: {}

